   .card:hover  {
    transform: scale(1.01);
    transform: 0.3s ease;
    opacity: 1;
  }
  
  .card {
    transition: opacity 0.3s ease;
    opacity: 0.8;
  }

 #title{
    opacity: 1;
  }

  .text{
    font-family: "Nanum Gothic Coding", monospace;
  }

  .bg-white{
    opacity: 0.9;
  }

  .bg-white text{
    opacity: 1;
  }

 #p{
    font-family: "Nanum Gothic Coding", monospace;
  }
